*.suo
*.sln
*.vcxproj
*.filters
*.user
*.pdb
*.db
*.psess
*.opendb
*.opensdf
*.sdf
*.suo
*.vspx
*.xcodeproj
*.qm
*.ldr
*.dat
*.mpd
!/resources/*.ldr
*.dae
*.3ds
*.obj
build
debug
release
ipch
Debug*
.DS_Store
.qmake.stash
Makefile
library.bin
leocad_plugin_import.cpp
uic_wrapper.bat
/tools/setup/*.exe
