*.suo
*.sln
*.vcxproj
*.filters
*.user
*.pdb
*.db
*.psess
*.opendb
*.opensdf
*.sdf
*.suo
*.vspx
*.xcodeproj
*.qm
*.ldr
*.dat
build
debug
release
ipch
Makefile
library.bin
leocad_plugin_import.cpp
uic_wrapper.bat
