<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lcd</string>
				<string>leocad</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>leocad_document.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.leocad</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>LeoCAD Project</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ldr</string>
				<string>dat</string>
				<string>mpd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>leocad_document.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-ldraw</string>
				<string>application/x-multi-part-ldraw</string>
				<string>application/x-ldlite</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>LDraw Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>leocad</string>
	<key>CFBundleIconFile</key>
	<string>leocad.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.leozide.leocad</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>LCAD</string>
	<key>CFBundleVersion</key>
	<string>0.81.0</string>
	<key>CFBundleDisplayName</key>
	<string>LeoCAD</string>
	<key>CFBundleName</key>
	<string>LeoCAD</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
