#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
# export DH_COMPAT=7
#QT5=yes

CFLAGS = -g
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
CFLAGS += -O0
else
CFLAGS += -O2
endif

DEST=$(shell if [ -f /usr/src/packages/BUILD/leocad.pro ] ; then echo /usr/src/packages/BUILD/debian/leocad ; else echo debian/leocad ; fi )
export Q_LDFLAGS="-Wl,-z,relro"

build-arch: build
build-indep: build
build: build-stamp
build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	if [ `uname -m` = "x86_64" ] ; then      \
		if [ "$(QT5)" != yes ] ; then        \
			qmake-qt4 -config release        \
		 			-spec linux-g++-64       \
                    DISABLE_UPDATE_CHECK=1   \
                    LDRAW_LIBRARY_PATH=/usr/share/ldraw ;\
		else                                 \
			/usr/lib/x86_64-linux-gnu/qt5/bin/qmake -config release \
					-spec linux-g++-64       \
                    DISABLE_UPDATE_CHECK=1   \
                    LDRAW_LIBRARY_PATH=/usr/share/ldraw ;\
		fi                                   \
	else                                     \
		if [ "$(QT5)" != yes ] ; then        \
			qmake-qt4 -config release        \
		 			-spec linux-g++-32       \
                    DISABLE_UPDATE_CHECK=1   \
                    LDRAW_LIBRARY_PATH=/usr/share/ldraw ;\
		else                                 \
			/usr/lib/i386-linux-gnu/qt5/bin/qmake -config release \
					-spec linux-g++-32       \
                    DISABLE_UPDATE_CHECK=1   \
                    LDRAW_LIBRARY_PATH=/usr/share/ldraw ;\
		fi                                   \
	fi ;                                     \
	if which lrelease-qt4 >/dev/null ; then  \
		lrelease-qt4 leocad.pro ;            \
	else                                     \
		lrelease-qt5 leocad.pro ;            \
	fi ;                                     \
	make all ;                               \
	# --- end custom part for compiling

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	make clean || true 
	# --- end custom part for cleaning up
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# Add here commands to install the package
	# The DESTDIR Has To Be Exactly  /usr/src/packages/BUILD/debian/<nameOfPackage>
	mkdir -p $(DEST)/usr/bin                               ;\
	mkdir -p $(DEST)/usr/share/mime/packages/              ;\
	mkdir -p $(DEST)/usr/share/applications/               ;\
	mkdir -p $(DEST)/usr/share/icons/hicolor/scalable/mimetypes ;\
	mkdir -p $(DEST)/usr/share/leocad                      ;\
	mkdir -p $(DEST)/usr/share/man/man1                    ;\
	install -m 744 build/release/leocad $(DEST)/usr/bin/leocad  ;\
	install -m 644 qt/leocad.xml                           ;\
		$(DEST)/usr/share/mime/packages/leocad.xml         ;\
	install -m 644 qt/leocad.desktop                        \
		$(DEST)/usr/share/applications/leocad.desktop      ;\
	install -m 644 resources/application-vnd.leocad.svg     \
		$(DEST)/usr/share//icons/hicolor/scalable/mimetypes/application-vnd.leocad.svg ;\
	install -m 644 docs/README.txt                          \
		$(DEST)/usr/share/leocad/README.txt                ;\
	install -m 644 docs/CREDITS.txt                         \
		$(DEST)/usr/share/leocad/CREDITS.txt               ;\
	install -m 644 docs/COPYING.txt                         \
		$(DEST)/usr/share/leocad/COPYING.txt               ;\
	install -m 644 docs/leocad.1                            \
		$(DEST)/usr/share/man/man1/leocad.1                ;\
	gzip -f -9 $(DEST)/usr/share/man/man1/leocad.1
	# --- end custom part for installing

# Build architecture-independent files here.
binary-indep: build install
	# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf
	dh_installdocs
	dh_installexamples
	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
	dh_installcron
	dh_installman
	dh_installinfo
	dh_gconf
#	dh_undocumented
	dh_installchangelogs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
